header{
    width: 100%;
    height: 126px;
}
header .header-top{
    width: 100%;
    height: 30px;
    background-color: #eee;
}
header .header-box{
    width: 1200px;
    height: 156px;
    /* background-color: red; */
    margin: 0 auto;
    overflow: hidden;
}
header .header-left{
    width: 232px;
    height: 126px;
    box-sizing: border-box;
    border: 1px solid #ededed;
    background-color: #ffffff;
    float: left;
    /* box-shadow: 0px 1px 10px 2px rgb(109, 106, 106); */
}
header .logo{
    display: block;
    width: 159px;
    height: 57px;
    margin: 34.5px auto;

}
header .header-right{
    width: 968px;
    height: 126px;
    /* background-color: green; */
    float: left;
}
header .head-top{
    width: 1200px;
    height: 30px;
    background-color: #eee;
    margin: 0 auto;
    overflow: hidden;
}
header .site-left{
    overflow: hidden;
    float: left;
}
header .site-left img{
    width: 20px;
    height: 25px;
}
header .site-left>li{
    float: left;
    line-height: 30px;
    margin-right: 25px;
}
header .site-left>li:hover a{
    color: red;
}
header .site-left a{
    color: #8c8c8c;
}
header .site-left>.qin{
    margin-left: -26px;
}
header .site-left .se{
    color: red;
}
header .site-right{
    height: 30px;
    /* width: 426px; */
    float: right;
    overflow: hidden;
}
header .site-right>li{
    float: left;
    line-height: 30px;
}
header .site-right a{
    color: #8c8c8c;
}
header .site-right li+li::before{
    content: "|";
    color:#ccc;
    padding-right: 12px ;
    padding-left: 12px ;

}
/* .site-right:before{
    content: "";
    display: inline-block;
} */
header .tu-biao{
    width: 15px;
    height: 30px;
    display: inline-block;
    transform: rotate(180deg);
    line-height: 30px;
}
header .site-right>li:hover a{
    color: red;
}
header .head-bottom{
    width: 968px;
    height: 96px;
    overflow: hidden;
}
header .bot-left{
    width: 600px;
    height: 96px;
    float: left;
} 
header .biao-dan{
    width: 600px;
    height: 34px;
    margin-top: 20px;
    margin-left: 58px;
}
header .sou-suo{
    width: 378px;
    height: 14px;
    padding: 9px;
    border: 2px solid #f42424;
    outline: 0;
    font-size: 12px;
}
header .btn{
    border: 0;
    width: 70px;
    height: 36px;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
}
header .biao-dan .btn-1{
    margin-left: -5px;
    background-color: #f42424;
}
header .btn-2{
    background-color: #b31919;
}
header .sou-xia{
    width: 600px;
    height: 30px;
    margin-left: 58px;
    margin-top: 5px;
    overflow: hidden;
}
header .sou-xia>li{
    float: left;
    margin-right: 10px;
}
header .sou-xia a{
    color: #999;
}
header .sou-xia>li:hover a{
    color: red;
}
header .bot-right{
    width: 300px;
    height: 96px;
    float: right;
}
header .botr-box{
    width: 178px;
    height: 33px;
    margin-top: 20px;
    margin-left: 113px;
    border: 1px solid #d2d2d2;
    overflow: hidden;
}
header .botr-box li{
    float: left;
    margin-left: 10px;

}
header .botr-box a{
    color:red;
}
header .botr-box img{
    width: 27px;
    height: 27px;
    margin-top: 2px;
}
header .botr-text a{
    line-height: 33px;
}
header .yuan{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
header .yuan a{
    color: #fff;
    margin-left: 5px;
    line-height: 20px;
}