*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.daohang{
    width: 1160px;
    height: 660px;
    margin: 0 auto;
}
.nav{
    width: 230px;
    height: 60px;
    background-color: red;
    text-align: center;
    line-height: 60px;
}
.one{
    width: 970px;
    height: 60px;
    margin: -60px 230px;
}
.san{
    overflow: hidden;
}
.san>li{
    float: left;
    line-height: 60px;
    margin-left: 30px;
}
.san>li:hover a{
    color: red;
}
a{
    color: #000;
    font-size: 17px;
}
.yi{
    color: red;
}
.er{
    color: #fff;
}
.slider{
    margin-left: 150px;
}
.slider-left{
    width: 80px;
    height: 300px;
    border: 1px solid rgb(211, 211, 211);
}
.slider-left>li{
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-top: 1px solid rgb(211, 211, 211);
}
.slider-left a{
    display: block;
    height: 37px;
    color: rgb(112, 109, 109);
    font-size: 15px;
}
.slider-left>li:hover a{
    color: #fff;
    background-color: red;
}
.slider-right{
    float: right;
    width: 40px;
    height: 1900px;
    background-color: #000;
    margin-top: -1438px;
    overflow: hidden;
    position: fixed;
    right: 0px;
}
.zong{
    width: 40px;
    height: 500px;
}
.top{
    width: 40px;
    height: 180px;

}
.top img{
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.top>li{
    text-align: center;
    font-size: 15px;
    color: rgb(231, 231, 231);
}
.yuan{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin: 7px 5px;
}
.center{
    width: 40px;
    height: 400px;
}
.center img{
    width: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
.bottom{
    width: 40px;
    height: 90px;
}
.bottom img{
    width: 20px;
    margin-left: 10px;
    margin-top: 15px;
}